{% extends 'messages/master.html'%}
{% block title%}

{%endblock%}

{% block content%}

<div class="site-wrap d-md-flex align-items-stretch">
    <div class="bg-img d-none d-md-block col-md-6"></div>
    <div class="form-wrap col-md-6 d-flex justify-content-center align-items-center p-5">
        <div class="form-inner">
            <h1 class="title mb-4">Default Password Change</h1>
            <h2 class="mb-3">Hello <span class="text-capitalize">{{ username }}</span>,</h2>
            <p class="mb-3">The Changing of default password was done perfectly </p>
            <p class="mb-2"><strong>Username:</strong> {{ username }} </p>
            <p class="mb-4"><strong>New Password:</strong> {{ new_password }}</p>
            <p class="mb-4">Log into your account using the link below:</p>
            <a href="http://{{ domain_host }}/api/login/" class="btn btn-primary mb-4">Log In</a>
            <p>Thank you,</p>
            <p>Khwelero E-learning Center</p>
        </div>
    </div>
</div>

{%endblock%}