{% extends 'messages/master.html'%}
{% block title%}

{%endblock%}

{% block content%}

<div class="container mt-5">
    <div class="card" style="max-width: 600px; margin: auto;">
        <div class="card-body">
            <h5 class="card-title">Hi {{ username }},</h5>
            <p class="card-text">Password reseting was a success, please log back into your account to continue your studies</p>
            <p class="card-text">New password is now</p>
            <div class="alert alert-primary text-center" role="alert" style="font-size: 24px;">
                <strong>{{ new_password }}</strong>
            </div>            
            <hr>
            <p class="card-text">Khwelero E-Learning Center</p>
            <p class="text-muted">Thank you!</p>
        </div>
    </div>

{%endblock%}